
клонируем репозиторий
git clone https://github.com/rubygarage/rails-girls-workshop.git

yстанавливаем гемы
bundle

генерируем базу данных для нашего приложения
rake db:create

сетапим юзера и пассворд для бд в конфигах
username: postgres
password: postgres

# https://chrome.google.com/webstore/detail/clipboardy/gkafpbdjggkmmngaamlghmigadfaalhc

Step 1  Layout + StaticPagesController-About(линка на идекс голы) + GoalsController-index(емпти стейт)
Больше здесь:
  Controllers - https://guides.rubyonrails.org/action_controller_overview.html
  Routes - https://guides.rubyonrails.org/routing.html
  Views - https://guides.rubyonrails.org/action_view_overview.html
  Partials & Layout - https://guides.rubyonrails.org/layouts_and_rendering.html

1.1) Генерируем Статик контролер с экшином эбаут
rails g controller StaticPages about

1.2) Меняем рут на эбаут в 'config/routes'
root to: 'static_pages#about'

1.3) Вставляем верстку сюда 'app/views/static_pages/about.html.erb'

<div class="info-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="info-page__title">Self-development goals tracker</h1>
        <h2 class="info-page__subtitle">
          BeFocused is a convenient centralized personal space for any students, learners or other interested in self-education and self-development people.
        </h2>
        <div class="info-page__descr">
          <p>Moreover, setting goals in the right way can help you achieve them! Each goal should be <strong>SMART</strong>, and here’s what it means:</p>
          <p><strong>Specific:</strong> Well defined, clear, and unambiguous</p>
          <p><strong>Measurable:</strong> With specific criteria that measure your progress towards the accomplishment of the goal</p>
          <p><strong>Achievable:</strong> Attainable and not impossible to achieve</p>
          <p><strong>Realistic:</strong> Within reach, realistic, and relevant to your life purpose</p>
          <p><strong>Timely:</strong> With a clearly defined timeline, including a starting date and a target date. The purpose is to create urgency.</p>
        </div>
        <button type="button" class="main-btn">Back to Goals</button>
      </div>
      <div class="col-lg-5 offset-lg-1 d-none d-lg-block">
        <%=image_tag('process_1440.svg', alt: 'Process', class: 'info-page__img')%>
      </div>
    </div>
  </div>
</div>


1.4) Вставляем верстку сюда 'app/views/layouts/application.html.erb'

<div class="main-wrap">
  <header class="main-header">
    <a href="/" class="main-header__logo">
      <%=image_tag('logo.svg', alt: 'BeFocused')%>
    </a>
    <a href="/" class="icon-btn">
      <i class="icon-btn__icon icon icon-circle-info"></i>
      <span class="icon-btn__txt">About</span>
    </a>
  </header>

  <main class="main-content">
    <%= yield %>
  </main>
</div>

Смотрим маршруты
rails routes

1.6) меняем в 'app/views/layouts/application.html.erb'

<a href="/" class="main-header__info-link">
  <i class="icon icon-circle-info mr-8"></i>
  About
</a>

на

<%= link_to root_path, { class: "icon-btn" }  do %>
  <i class="icon-btn__icon icon icon-circle-info"></i>
  <span class="icon-btn__txt">About</span>
<% end %>

1.7) Генерируем контролер Голы с экшином индекс
rails g controller Goals index

1.8) Добавляем в 'config/routes'
resources :goals

Смотрим маршруты
rails routes

1.9) Меняем в 'app/views/static_pages/about.html.erb'
<button type="button" class="main-btn">Get Started</button>

на

<%= link_to 'Create a Goal', goals_path,  class: "main-btn" %>

1.10) Вставляем верстку сюда 'app/views/goals/index.html.erb'

<div class="goals-page">
  <div class="goals-page__container container">
    <h1 class="goals-page__title">My Goals</h1>

    <div class="empty-goals__card main-card">
      <%=image_tag('working.svg', alt: 'Process', class: 'empty-goals__img')%>

      <p class="empty-goals__descr">You have no goals. Not going to lie, this is a bit sad.</p>

      <a href="/" class="main-btn">Create a Goal</a>
    </div>
  </div>
</div>


Step 2  Goal Model + Migration + GoalsController(new) - static
Больше здесь:
  Model - https://guides.rubyonrails.org/active_record_basics.html
  Migrations - https://guides.rubyonrails.org/active_record_migrations.html

2.1) Генерируем модель Goal со следующими полями
rails g model Goal title description:text due_date:date priority complete:boolean

2.2) Накатываем миграцию в базу данных
rake db:migrate

2.3) Добавляем экшин new в GoalsController
def new
end

2.4) создаем вьюху для экшина new
touch app/views/goals/new.html.erb

2.5) Вставляем верстку сюда 'app/views/goals/new.html.erb'

<!-- This page has the same HTML as 'Edit goal' page. The only difference is title name -->
<div class="goals-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="goals-page__title">Create a Goal</h1>

        <div class="create-goal__card main-card">
          <form>
            <!-- To show error style add main-input--error to main-input -->
            <div class="main-input main-input--error">
              <label class="main-input__label" for="goal_title">Goal Title</label>
              <input class="main-input__field" type="text" id="goal_title" />
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="main-input">
              <label class="main-input__label" for="goal_descr">Description</label>
              <textarea rows="4" class="main-input__field main-input__field--textarea"></textarea>
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__input-short main-input">
              <label class="main-input__label" for="goal_priority">Priority</label>
              <select id="goal_priority" class="main-input__field main-input__field--xs">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__input-short main-input">
              <label class="main-input__label" for="goal_date">Due Date</label>
              <input class="main-input__field main-input__field--xs" type="date" id="goal_date" />
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__form-footer">
              <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
              <button type="submit" class="main-btn main-btn--xs">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

Смотрим маршруты
rails routes

2.6) Меняем в 'app/views/goals/index.html.erb'
<a href="/" class="main-btn">Create a Goal</a>

на

<%= link_to 'Create a Goal', goals_new_path,  class: "main-btn"%>

Step 3 Gem SimpleCov + GoalsController-create + Dynamic form + Goal validations + Flash + add if state to goals/index
Больше здесь:
  Gems - https://guides.rubygems.org/what-is-a-gem/
         https://guides.rubygems.org/rubygems-basics/
  Bundler - https://bundler.io/
  SimpleForm - https://github.com/plataformatec/simple_form
  ActiveModelValidations - https://guides.rubyonrails.org/active_record_validations.html

3.1) Добавляем gem simple_form в Gemfile
gem 'simple_form'

3.2) устанавливаем гемы
bundle

3.3) Генерируем конфиг файл simple_form
rails generate simple_form:install

3.4) Перезапускаем сервер
rails restart

3.5) Добавляем в GoalsController обьект для формы в 'app/controllers/goals_controller.rb' в екшин new
def new
  @goal = Goal.new
end

3.6) Меняем статик форму на simple_form в 'app/views/goals/new.html.erb'

<form>
  <!-- To show error style add main-input--error to main-input -->
  <div class="main-input main-input--error">
    <label class="main-input__label" for="goal_title">Goal Title</label>
    <input class="main-input__field" type="text" id="goal_title" />
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="main-input">
    <label class="main-input__label" for="goal_descr">Description</label>
    <textarea rows="4" class="main-input__field main-input__field--textarea"></textarea>
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="create-goal__input-short main-input">
    <label class="main-input__label" for="goal_priority">Priority</label>
    <select id="goal_priority" class="main-input__field main-input__field--xs">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="create-goal__input-short main-input">
    <label class="main-input__label" for="goal_date">Due Date</label>
    <input class="main-input__field main-input__field--xs" type="date" id="goal_date" />
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="create-goal__form-footer">
    <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
    <button type="submit" class="main-btn main-btn--xs">Create</button>
  </div>
</form>
на
<%= simple_form_for @goal, defaults: { label_html: { class: 'main-input__label' } } do |f| %>
  <%= f.input :title, input_html: { class: 'main-input__field' }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :description, input_html: { class: 'main-input__field main-input__field--textarea', rows: 4 }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :priority, selected: [ ['Low', 'low'] ], collection: [['Low', 'low'], ['Medium', 'medium'], ['High', 'high']], input_html: { class: 'main-input__field main-input__field--xs' }, wrapper_html: { class: 'create-goal__input-short  main-input' }  %>
  <%= f.input :due_date, as: :string, input_html: { class: 'main-input__field main-input__field--xs', type: 'date' }, wrapper_html: { class: 'create-goal__input-short  main-input' } %>
  <div class="create-goal__form-footer">
    <%= link_to goals_path do %>
      <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
    <% end %>
    <%= f.button :submit, class: 'main-btn main-btn--xs main-btn--submit' %>
  </div>
<% end %>

3.7) Добавляем в GoalsController екшин create в 'app/controllers/goals_controller.rb' и создаем метод goal_params

Смотрим маршруты
rails routes

def create
  @goal = Goal.new(goal_params)
  if @goal.save
    redirect_to goals_path
  else
    render 'new'
  end
end

private

def goal_params
  params.require(:goal).permit(:title, :description, :priority, :due_date, :complete)
end

3.8) Добавляем валидации в модель Goal 'app/models/goal.rb'

class Goal < ApplicationRecord
  ALLOWABLE_TEXT_REGEX = %r{\A[a-zA-Z0-9!#$%&'*+\-/=?^_`{|},.~\s]+\z}.freeze
  ALLOWABLE_TITLE_MAX_LENGTH = 80
  ALLOWABLE_DESCRIPTION_MAX_LENGTH = 500
  ALLOWABLE_MAX_DUE_DATE_YEAR = 2100

  validates :title,
            presence: true,
            length: { maximum: ALLOWABLE_TITLE_MAX_LENGTH },
            format: { with: ALLOWABLE_TEXT_REGEX }

  validates :description,
            presence: true,
            length: { maximum: ALLOWABLE_DESCRIPTION_MAX_LENGTH },
            format: { with: ALLOWABLE_TEXT_REGEX }

  validate :due_date_cannot_be_in_the_past, :due_date_year_cannot_be_more_than_allowable, if: :due_date_changed?

  enum priority: { low: 0, medium: 1, high: 2 }

  scope :completed, -> { where(complete: true) }
  scope :incomplete, -> { where(complete: false) }

  private

  def due_date_cannot_be_in_the_past
    if due_date.present? && due_date < Time.zone.today
      errors.add(:due_date, 'cannot be earlier than today')
    end
  end

  def due_date_year_cannot_be_more_than_allowable
    if due_date.present? && due_date.to_date.year > ALLOWABLE_MAX_DUE_DATE_YEAR
      errors.add(:due_date, "a year cannot be more than #{ALLOWABLE_MAX_DUE_DATE_YEAR}")
    end
  end
end


3.9) Добавляем flash message верстку сюда 'app/views/goals/index.html.erb'

<div class="goals-page">
  <div class="goals-page__container container">

    <% if Goal.exists? %>
      <!-- Update goal alert -->
      <div class="main-alert main-alert--success">
        <i class="main-alert__icon icon icon-circle-check-bold"></i>
        <p class="main-alert__txt">Your goal has been successfully updated.</p>
      </div>

      <!-- Delete goal alert -->
      <!-- <div class="main-alert main-alert--info">
        <i class="main-alert__icon icon icon-circle-check-bold"></i>
        <p class="main-alert__txt">Your goal has been successfully deleted.</p>
      </div> -->

      <div class="goals-page__header">
        <h1 class="goals-page__title">My Goals</h1>
        <a href="/" class="main-btn main-btn--xs mb-20 d-md-none">Create a Goal</a>
      </div>

      <div class="goals-page__nav main-card">
        <div class="main-tab">
          <a href="/" class="main-tab__item main-tab__item--active">All 8</a>
          <a href="/" class="main-tab__item">Incomplete  4</a>
          <a href="/" class="main-tab__item">Completed  4</a>
        </div>
        <div class="d-none d-md-block">
          <a href="/" class="main-btn main-btn--xs">Create a Goal</a>
        </div>
      </div>

      <div class="goals-page__card main-card">
        <div class="overflow-x-auto">
          <table class="goals-page__table main-table">
            <thead>
              <tr>
                <th>Goal Name</th>
                <th width="160">Due Date</th>
                <th width="160">Priority</th>
              </tr>
            </thead>
            <tbody>
            <!-- Hightlighted row -->
            <tr class="main-table__row--hightlight">
              <td>
                <div class="d-flex align-items-center">
                  <i class="main-table__check icon icon-circle-check"></i>
                  <p class="goals-page__table-txt mb-0">Learn RSpec</p>
                </div>
              </td>
              <td>12.08.2019</td>
              <td>
                <div class="d-flex align-items-center">
                  <i class="in-low mr-4 icon icon-arrow-down"></i>
                  Low
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <i class="main-table__check icon icon-circle-check"></i>
                  <p class="goals-page__table-txt mb-0">Metaprogramming</p>
                </div>
              </td>
              <td>16.08.2019</td>
              <td>
                <div class="d-flex align-items-center">
                  <i class="in-high mr-4 icon icon-arrow-up"></i>
                  High
                </div>
              </td>
            </tr>
            <!-- Checked row -->
            <tr class="main-table__row--checked">
              <td>
                <div class="d-flex align-items-center">
                  <i class="main-table__check main-table__check--active icon icon-circle-check-filled"></i>
                  <p class="goals-page__table-txt mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </td>
              <td>12.08.2019</td>
              <td>
                <div class="d-flex align-items-center">
                  <i class="in-medium mr-4 icon icon-arrow-up"></i>
                  Medium
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    <% else %>

      <h1 class="goals-page__title">My Goals</h1>

      <div class="empty-goals__card main-card">
        <%=image_tag('working.svg', alt: 'Process', class: 'empty-goals__img')%>

        <p class="empty-goals__descr">You have no goals. Not going to lie, this is a bit sad.</p>

        <%= link_to 'Create a Goal', new__path,  class: "main-btn"%>
      </div>

    <% end %>
  </div>
</div>

3.10) Добавляем flash message в 'app/views/goals/index.html.erb'

меняем

<!-- Update goal alert -->
<div class="main-alert main-alert--success">
  <i class="main-alert__icon icon icon-circle-check-bold"></i>
  <p class="main-alert__txt">Your goal has been successfully updated.</p>
</div>

<!-- Delete goal alert -->
<!-- <div class="main-alert main-alert--info">
  <i class="main-alert__icon icon icon-circle-check-bold"></i>
  <p class="main-alert__txt">Your goal has been successfully deleted.</p>
</div> -->

на

<% flash.each do |type, message| %>
  <div class="main-alert main-alert--<%= type %>">
    <i class="main-alert__icon icon icon-circle-check-bold"></i>
    <p class="main-alert__txt">
      <%= message %>
    </p>
  </div>
<% end %>

Step 4 Dynamic goals index page - @goals collection, filters
Больше здесь:
  Scope - https://guides.rubyonrails.org/active_record_querying.html#scopes

4.1) Меняем линки в 'app/views/goals/index.html.erb'

Смотрим маршруты
rails routes

Меняем
<a href="/" class="main-btn main-btn--xs mb-20 d-md-none">Create a Goal</a>
на
<%= link_to 'Create a Goal', new_goal_path,  class: "main-btn main-btn--xs mb-20 d-md-non"%>

Меняем
<a href="/" class="main-btn main-btn--xs">Create a Goal</a>
на
<%= link_to 'Create a Goal', new_goal_path,  class: "main-btn main-btn--xs"%>

4.2) Добавляем коллекцию @goals в GoalsController в 'app/controllers/goals_controller.rb'

def index
  @goals = Goal.order('complete DESC, due_date, priority DESC, title')
end

4.3) Добавляем динамическое отоброжение голов на странице в 'app/views/goals/index.html.erb'

Меняем
<!-- Hightlighted row -->
<tr class="main-table__row--hightlight">
  <td>
    <div class="d-flex align-items-center">
      <i class="main-table__check icon icon-circle-check"></i>
      Learn RSpec
    </div>
  </td>
  <td>12.08.2019</td>
  <td>
    <div class="d-flex align-items-center">
      <i class="in-low mr-4 icon icon-arrow-down"></i>
      Low
    </div>
  </td>
</tr>
<tr>
  <td>
    <div class="d-flex align-items-center">
      <i class="main-table__check icon icon-circle-check"></i>
      Metaprogramming
    </div>
  </td>
  <td>16.08.2019</td>
  <td>
    <div class="d-flex align-items-center">
      <i class="in-high mr-4 icon icon-arrow-up"></i>
      High
    </div>
  </td>
</tr>
<!-- Checked row -->
<tr class="main-table__row--checked">
  <td>
    <div class="d-flex align-items-center">
      <i class="main-table__check main-table__check--active icon icon-circle-check-filled"></i>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </td>
  <td>12.08.2019</td>
  <td>
    <div class="d-flex align-items-center">
      <i class="in-medium mr-4 icon icon-arrow-up"></i>
      Medium
    </div>
  </td>
</tr>

на

<% @goals.each do |goal| %>
  <% if goal.complete?%>
    <tr class="main-table__row--checked">
  <% else %>
    <tr>
  <% end %>
      <td>
        <div class="d-flex align-items-center">
          <% if goal.complete?%>
            <i class="main-table__check main-table__check--active icon icon-circle-check-filled"></i>
          <% else %>
            <i class="main-table__check icon icon-circle-check"></i>
          <% end %>
          <%= goal.title %>
        </div>
      </td>
      <td>
        <%= goal.due_date %>
      </td>
      <td>
        <div class="d-flex align-items-center">
          <% if goal.low? %>
            <i class="in-low mr-4 icon icon-arrow-down"></i>
          <% elsif goal.medium? %>
            <i class="in-medium mr-4 icon icon-arrow-up"></i>
          <% else %>
            <i class="in-high mr-4 icon icon-arrow-up"></i>
          <% end %>
          <%= goal.priority.capitalize %>
        </div>
      </td>
    </tr>
<% end %>

4.4) Добавляем скоупы в Goal модель в 'app/models/goal.rb'

scope :completed, -> { where(complete: true) }
scope :incomplete, -> { where(complete: false) }

4.5) Добавляем фильтр метод в GoalsController в 'app/controllers/goals_controller.rb'

def index
  @goals = chosen_filter
  @goals.order('complete, due_date, priority DESC, title')
end

private

def chosen_filter
  if params[:filter] == 'completed'
    Goal.completed
  elsif params[:filter] == 'incomplete'
    Goal.incomplete
  else
    Goal.all
  end
end

4.6) Ставим линки(вкладки) с отправкой парамсов в 'app/views/goals/index.html.erb'

Смотрим маршруты
rails routes

Меняем

<div class="main-tab">
  <a href="/" class="main-tab__item main-tab__item--active">All 8</a>
  <a href="/" class="main-tab__item">Incomplete  4</a>
  <a href="/" class="main-tab__item">Completed  4</a>
</div>

на

<div class="main-tab">
  <%= link_to "All #{Goal.count}", goals_path,  class: "main-tab__item #{'main-tab__item--active' if params[:filter].nil?}" %>
  <%= link_to "Incomplete #{Goal.incomplete.count}", goals_path(filter: 'incomplete'),  class: "main-tab__item #{'main-tab__item--active' if params[:filter] == 'incomplete'}" %>
  <%= link_to "Completed #{Goal.completed.count}", goals_path(filter: 'completed'),  class: "main-tab__item #{'main-tab__item--active' if params[:filter] == 'completed'} " %>
</div>

Step 5 Dynamic show Goal page

5.1) Добавляем экшин show в GoalsController в 'app/controllers/goals_controller.rb'
def show
  @goal = Goal.find_by(id: params[:id])
end

5.2) Добавляем линку на show page в 'app/views/goals/index.html.erb'
Смотрим маршруты
rails routes

Меняем
<%= link_to goal.title %>
на
<%= link_to goal.title, goal_path(goal) %>

5.3) Создаем вьюху goals show
touch app/views/goals/show.html.erb

5.4) Добавляем верстку сюда 'app/views/goals/show.html.erb'

<div class="view-goal goals-page">
  <div class="view-goal-nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <a href="/" class="icon-btn icon-btn--blue">
            <i class="icon-btn__icon icon icon-angle-left"></i>
            <span class="icon-btn__txt">My Goals</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="main-card">
          <div class="view-goal-card__header">
            <button type="button" class="main-btn main-btn--grey-border main-btn--xxs">
              <i class="main-btn__icon icon icon-check"></i>
              Mark Complete
            </button>
            <!-- <button type="button" class="main-btn main-btn--green main-btn--xxs">
              <i class="main-btn__icon icon icon-check"></i>
              Completed
            </button> -->
            <div class="d-flex align-items-center">
              <a href="/" class="icon-btn mr-16">
                <i class="icon-btn__icon icon icon-edit mr-4"></i>
                <span class="icon-btn__txt d-none d-md-inline-block">Edit</span>
              </a>
              <button type="button" class="icon-btn">
                <i class="icon-btn__icon icon icon-bin mr-4"></i>
                <span class="icon-btn__txt d-none d-md-inline-block">Delete</span>
              </button>
            </div>
          </div>

          <div class="view-goal-card__body">
            <div class="view-goal-card__subheader">
              <h1 class="view-goal-card__title">Learn RSpec</h1>
              <div class="d-md-flex">
                <div class="view-goal-card__details">
                  <div class="view-goal-card__details-label">
                    <i class="icon icon-calendar mr-8"></i>
                    Due Date
                  </div>
                  12.08.2019
                </div>
                <div class="view-goal-card__details">
                  <div class="view-goal-card__details-label">
                    Priotity:
                  </div>
                  <i class="in-high icon icon-arrow-up"></i>
                  <!-- <i class="in-medium icon icon-arrow-up"></i>
                  <i class="in-low icon icon-arrow-down"></i> -->
                  High
                </div>
              </div>
            </div>

            <div class="view-goal-card__descr">
              <p class="view-goal-card__descr-label">Description</p>
              <p>
                Per mutat paulo mucius in. Aeterno democritum id sit, pro ut aliquip conceptam, cum alii
                nisl aliquid ex. Tritani corrumpit dignissim mei ex. An dicunt efficiantur intellegebat
                eos. Id est sumo habeo recteque, eum cu detraxit accusata, cu sea iusto interesset.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

5.5) Меняем линку в 'app/views/goals/show.html.erb'
Смотрим маршруты
rails routes

меняем

<a href="/" class="icon-btn icon-btn--blue">
  <i class="icon-btn__icon icon icon-angle-left"></i>
  <span class="icon-btn__txt">My Goals</span>
</a>

на

<%= link_to goals_path, { class: "icon-btn icon-btn--blue" }  do %>
  <i class="icon-btn__icon icon icon-angle-left"></i>
  <span class="icon-btn__txt">My Goals</span>
<% end %>

5.6) Делаем информацию о голе динамической в 'app/views/goals/show.html.erb'

меняем

<div class="view-goal-card__body">
  <div class="view-goal-card__subheader">
    <h1 class="view-goal-card__title">Learn RSpec</h1>
    <div class="d-md-flex">
      <div class="view-goal-card__details">
        <div class="view-goal-card__details-label">
          <i class="icon icon-calendar mr-8"></i>
          Due Date
        </div>
        12.08.2019
      </div>
      <div class="view-goal-card__details">
        <div class="view-goal-card__details-label">
          Priotity:
        </div>
        <i class="in-high icon icon-arrow-up"></i>
        <!-- <i class="in-medium icon icon-arrow-up"></i>
        <i class="in-low icon icon-arrow-down"></i> -->
        High
      </div>
    </div>
  </div>

  <div class="view-goal-card__descr">
    <p class="view-goal-card__descr-label">Description</p>
    <p>
      Per mutat paulo mucius in. Aeterno democritum id sit, pro ut aliquip conceptam, cum alii
      nisl aliquid ex. Tritani corrumpit dignissim mei ex. An dicunt efficiantur intellegebat
      eos. Id est sumo habeo recteque, eum cu detraxit accusata, cu sea iusto interesset.
    </p>
  </div>
</div>

на

<div class="view-goal-card__body">
  <div class="view-goal-card__subheader">
    <h1 class="view-goal-card__title">
      <%= @goal.title %>
    </h1>
    <div class="d-md-flex">
      <div class="view-goal-card__details">
        <div class="view-goal-card__details-label">
          <i class="icon icon-calendar mr-8"></i>
          Due Date
        </div>
        <%= @goal.due_date.strftime('%d.%m.%y') %>
      </div>
      <div class="view-goal-card__details">
        <div class="view-goal-card__details-label">
          Priotity:
        </div>
        <% if @goal.low? %>
          <i class="in-low icon icon-arrow-down"></i>
        <% elsif @goal.medium? %>
          <i class="in-medium icon icon-arrow-up"></i>
        <% else %>
          <i class="in-high icon icon-arrow-up"></i>
        <% end %>
        <%= @goal.priority.capitalize %>
      </div>
    </div>
  </div>

  <div class="view-goal-card__descr">
    <p class="view-goal-card__descr-label">Description</p>
    <p>
      <%= @goal.description %>
    </p>
  </div>
</div>

5.7) Делаем статус голы динамическим в 'app/views/goals/show.html.erb'

меняем

<button type="button" class="main-btn main-btn--grey-border main-btn--xxs">
  <i class="main-btn__icon icon icon-check"></i>
  Mark Complete
</button>
<!-- <button type="button" class="main-btn main-btn--green main-btn--xxs">
  <i class="main-btn__icon icon icon-check"></i>
  Completed
</button> -->

на

<% if @goal.complete? %>
  <button type="button" class="main-btn main-btn--green main-btn--xxs">
    <i class="main-btn__icon icon icon-check"></i>
    Completed
  </button>
<% else %>
  <button type="button" class="main-btn main-btn--grey-border main-btn--xxs">
    <i class="main-btn__icon icon icon-check"></i>
    Mark Complete
  </button>
<% end %>

Step 6 Dynamic edit Goal page + update action

6.1) Создаем метод edit в GoalsController  в 'app/controllers/goals_controller.rb'

def edit
  @goal = Goal.find_by(id: params[:id])
end

6.2) Меняем линку в 'app/views/goals/show.html.erb'

Смотрим маршруты
rails routes

меняем

<a href="/" class="icon-btn mr-16">
  <i class="icon-btn__icon icon icon-edit mr-4"></i>
  <span class="icon-btn__txt d-none d-md-inline-block">Edit</span>
</a>

на

<%= link_to edit_goal_path(@goal), class: 'icon-btn mr-16' do %>
  <i class="icon-btn__icon icon icon-edit mr-4"></i>
  <span class="icon-btn__txt d-none d-md-inline-block">Edit</span>
<% end %>

6.3) Создаем вьюху goals edit
touch app/views/goals/edit.html.erb

6.4) Вставляем верстку в 'app/views/goals/edit.html.erb'

<!-- This page ha sthe same HTML as 'Create goal' page. The only difference is title name -->
<div class="goals-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="goals-page__title">Edit Goal</h1>

        <div class="create-goal__card main-card">
          <form>
            <div class="main-input">
              <label class="main-input__label" for="goal_title">Goal Title</label>
              <input class="main-input__field" type="text" id="goal_title" value="Learn RSpec" />
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="main-input">
              <label class="main-input__label" for="goal_descr">Description</label>
              <textarea rows="4" class="main-input__field main-input__field--textarea">Per mutat paulo mucius in. Aeterno democritum id sit, pro ut aliquip conceptam, cum alii nisl aliquid ex. Tritani corrumpit dignissim mei ex. An dicunt efficiantur intellegebat eos. Id est sumo habeo recteque, eum cu detraxit accusata, cu sea iusto interesset.</textarea>
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__input-short main-input">
              <label class="main-input__label" for="goal_priority">Priority</label>
              <select id="goal_priority" class="main-input__field main-input__field--xs">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__input-short main-input">
              <label class="main-input__label" for="goal_date">Due Date</label>
              <input class="main-input__field main-input__field--xs" type="date" id="goal_date" value="2019-09-01" />
              <div class="main-input__message">
                <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
                <span class="main-input__message-txt">Error message</span>
              </div>
            </div>

            <div class="create-goal__form-footer">
              <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
              <button type="submit" class="main-btn main-btn--xs">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

6.5) Меняем форму на simple_form в 'app/views/goals/edit.html.erb'

меняем

<form>
  <div class="main-input">
    <label class="main-input__label" for="goal_title">Goal Title</label>
    <input class="main-input__field" type="text" id="goal_title" value="Learn RSpec" />
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="main-input">
    <label class="main-input__label" for="goal_descr">Description</label>
    <textarea rows="4" class="main-input__field main-input__field--textarea">Per mutat paulo mucius in. Aeterno democritum id sit, pro ut aliquip conceptam, cum alii nisl aliquid ex. Tritani corrumpit dignissim mei ex. An dicunt efficiantur intellegebat eos. Id est sumo habeo recteque, eum cu detraxit accusata, cu sea iusto interesset.</textarea>
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="create-goal__input-short main-input">
    <label class="main-input__label" for="goal_priority">Priority</label>
    <select id="goal_priority" class="main-input__field main-input__field--xs">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="create-goal__input-short main-input">
    <label class="main-input__label" for="goal_date">Due Date</label>
    <input class="main-input__field main-input__field--xs" type="date" id="goal_date" value="2019-09-01" />
    <div class="main-input__message">
      <i class="main-input__message-icon icon icon-triangle-warning-sm"></i>
      <span class="main-input__message-txt">Error message</span>
    </div>
  </div>

  <div class="create-goal__form-footer">
    <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
    <button type="submit" class="main-btn main-btn--xs">Create</button>
  </div>
</form>

на

<%= simple_form_for @goal, defaults: { label_html: { class: 'main-input__label' } } do |f| %>
  <%= f.input :title, input_html: { class: 'main-input__field' }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :description, input_html: { class: 'main-input__field main-input__field--textarea', rows: 4 }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :priority, selected: [ ['Low', 'low'] ], collection: [['Low', 'low'], ['Medium', 'medium'], ['High', 'high']], input_html: { class: 'main-input__field main-input__field--xs' }, wrapper_html: { class: 'create-goal__input-short  main-input' }  %>
  <%= f.input :due_date, as: :string, input_html: { class: 'main-input__field main-input__field--xs', type: 'date' }, wrapper_html: { class: 'create-goal__input-short  main-input' } %>
  <div class="create-goal__form-footer">
    <%= link_to goals_path do %>
      <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
    <% end %>
    <%= f.button :submit, class: 'main-btn main-btn--xs main-btn--submit' %>
  </div>
<% end %>

6.6) Создаем паршиал
touch app/views/goals/_form.html.erb

6.7) Вставляем код в партиал 'app/views/goals/_form.html.erb'

<%= simple_form_for @goal, defaults: { label_html: { class: 'main-input__label' } } do |f| %>
  <%= f.input :title, input_html: { class: 'main-input__field' }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :description, input_html: { class: 'main-input__field main-input__field--textarea', rows: 4 }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :priority, selected: [ ['Low', 'low'] ], collection: [['Low', 'low'], ['Medium', 'medium'], ['High', 'high']], input_html: { class: 'main-input__field main-input__field--xs' }, wrapper_html: { class: 'create-goal__input-short  main-input' }  %>
  <%= f.input :due_date, as: :string, input_html: { class: 'main-input__field main-input__field--xs', type: 'date' }, wrapper_html: { class: 'create-goal__input-short  main-input' } %>
  <div class="create-goal__form-footer">
    <%= link_to goals_path do %>
      <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
    <% end %>
    <%= f.button :submit, class: 'main-btn main-btn--xs main-btn--submit' %>
  </div>
<% end %>

6.8) Меняем форму на паршиал в 'app/views/goals/edit.html.erb' и 'app/views/goals/new.html.erb'

меняем

<%= simple_form_for @goal, defaults: { label_html: { class: 'main-input__label' } } do |f| %>
  <%= f.input :title, input_html: { class: 'main-input__field' }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :description, input_html: { class: 'main-input__field main-input__field--textarea', rows: 4 }, wrapper_html: { class: 'main-input' }, required: false %>
  <%= f.input :priority, selected: [ ['Low', 'low'] ], collection: [['Low', 'low'], ['Medium', 'medium'], ['High', 'high']], input_html: { class: 'main-input__field main-input__field--xs' }, wrapper_html: { class: 'create-goal__input-short  main-input' }  %>
  <%= f.input :due_date, as: :string, input_html: { class: 'main-input__field main-input__field--xs', type: 'date' }, wrapper_html: { class: 'create-goal__input-short  main-input' } %>
  <div class="create-goal__form-footer">
    <%= link_to goals_path do %>
      <button type="button" class="main-btn main-btn--xs main-btn--grey mr-16">Cancel</button>
    <% end %>
    <%= f.button :submit, class: 'main-btn main-btn--xs main-btn--submit' %>
  </div>
<% end %>

на

<%= render partial: 'goals/form', locals: { goal: @goal } %>

6.9) Создаем экшин update в GoalsController 'app/controllers/goals_controller.rb'

def update
  @goal = Goal.find_by(id: params[:id])
  if @goal.update_attributes(goal_params)
    flash[:success] = 'Your goal has been successfully updated'
    redirect_to goals_path
  else
    render 'edit'
  end
end

6.10) Меняем линку в 'app/views/goals/show.html.erb'

Смотрим маршруты
rails routes

Меняем

<button type="button" class="main-btn main-btn--grey-border main-btn--xxs">
  <i class="main-btn__icon icon icon-check"></i>
  Mark Complete
</button>

на

<%= link_to goal_path(@goal, goal: { complete: true }), class: 'main-btn main-btn--grey-border main-btn--xxs', method: :put do %>
  <i class="main-btn__icon icon icon-check"></i>
  Mark Complete
<% end %>

6.11) Меняем редирект в экшине update в GoalsController 'app/controllers/goals_controller.rb'

меняем

def update
  if @goal.update_attributes(goal_params)
    flash[:success] = 'Your goal has been successfully updated'
    redirect_to goals_path
  else
    render 'edit'
  end
end

на

def update
  if @goal.update_attributes(goal_params)
    flash[:success] = 'Your goal has been successfully updated'
    if @goal.complete?
      redirect_to goals_path(filter: 'completed')
    else
      redirect_to goals_path
    end
  else
    render 'edit'
  end
end

6.12) Рефакторим GoalsController 'app/controllers/goals_controller.rb'

Добавляем before_action

class GoalsController < ApplicationController
  before_action :set_goal, only: [:show, :edit, :update, :destroy]

создаем метод set_goal

def set_goal
  @goal = Goal.find_by(id: params[:id])
end

удаляем @goal isntance с этих методов

def show; end
def edit; end

def update
  if @goal.update_attributes(goal_params)
    flash[:success] = 'Your goal has been successfully updated'
    if @goal.complete?
      redirect_to goals_path(filter: 'completed')
    else
      redirect_to goals_path
    end
  else
    render 'edit'
  end
end

Step 7 Destroy Goal

7.1) Меняем линку в 'app/views/goals/show.html.erb'

Смотрим маршруты
rails routes

Меняем

<button type="button" class="icon-btn">
  <i class="icon-btn__icon icon icon-bin mr-4"></i>
  <span class="icon-btn__txt d-none d-md-inline-block">Delete</span>
</button>

на

<%= link_to goal_path(@goal), class: 'icon-btn', method: :delete, data: { confirm: "Are you sure you want to delete this goal?" } do %>
  <i class="icon-btn__icon icon icon-bin mr-4"></i>
  <span class="icon-btn__txt d-none d-md-inline-block">Delete</span>
<% end %>

7.2) Добавляем новый экшин destroy в before_action в GoalsController

before_action :set_goal, only: [:show, :edit, :update, :destroy]

7.3) Создаем экшин destroy в GoalsController

def destroy
  @goal.destroy
  flash[:info] = 'Your goal has been successfully deleted'
  redirect_to goals_path
end
